/* header */
.header {
    font-weight: 500;
    border: 1px solid #ececec;
}

.header .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
}

.header-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--sec-text-color);
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-item {
    position: relative;

&:hover,
&:focus {
    color: var(--accent-color);
}

&:not(:last-child) {
    margin-right: 50px;
}
}
.contact:not(:last-child) {
    margin-right: 50px;
}

.contact {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
}

.header-group {
    display: flex;
    margin-left: auto;
}

.link.current {
    color: var(--accent-color);

&::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--accent-color);
}
}

.contact-icon {
    fill: var(--text-color);
    margin-right: 10px;
    transition: fill var(--anim);

.link:hover &,
.link:focus & {
    fill: currentColor;
}
}